<%- include('partials/header') -%>

    <header>
        <div class="tests">
            <img src="/sql.png" alt="sql_test">
            <div class="headings">
                <h3>Quiz Lists</h3>
                <h4>Created by Minions</h4>
                <a href="/tests" class="btn">View Quizzes</a>
            </div>
        </div>
    </header>

    <%- include('partials/footer') -%>