<%- include('partials/header') -%>

<ul class="tests">
    <li class="test">
        <a href="css_test"><img src="/css3.png" alt="css3 icon"></a>
        <h4>CSS3 Quiz</h4>
        <p>Test your knowledge on CSS3!</p>
    </li>
    <li class="test">
        <a href="html_test"><img src="/html5.png" alt="html5 icon"></a>
        <h4>HTML5 Quiz</h4>
        <p>Test your knowledge on HTML5!</p>
    </li>
    <li class="test">
        <a href="sql_test"><img src="/sql.png" alt="sql icon"></a>
        <h4>SQL Quiz</h4>
        <p>Test your knowledge on SQL!</p>
    </li>
</ul>

<%- include('partials/footer') -%>
